NUXT_DATABASE_URL=postgres://user:pass@localhost:5432/journal
DATABASE_URL_TEST=postgres://user:pass@localhost:5432/journal_test
NUXT_S3_ENDPOINT=https://s3.example.com
NUXT_S3_REGION=auto
NUXT_S3_BUCKET=journal
NUXT_S3_ACCESS_KEY_ID=
NUXT_S3_SECRET_ACCESS_KEY=
NUXT_S3_PUBLIC_BASE_URL=https://s3.example.com/journal
